
body{
    background-color: #fffbf7;
}

h1{
    color: #025157;
    text-align: center;
}

li{
    display: inline;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    font-family: sans-serif;
    /* height: 45px; */
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
    
}

.navbar{
    width: 65%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions{
    display: inline;
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

#actions-sign-in{
    color: #67b54b;
}

.actions > *{
    margin: 45px 10px;
}

#logo{
    width: 15%;
}

.fixed-header{
    position:  sticky;
    background-color: #fffbf7;

}

.btn{
    color: #fff;
    background-color: #025157;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

#btn-free-trial{
    background-color: #67b54b;
    color: white;
}

#main{
    align-items: center;
    text-align: center;
}

.promocional{
    color: #8b8b8bcc;
}


#subtitle{
    color: #46484c;
}



#img-capterra-central{
    width: 50%;
    align-self: center;
}


.video-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
    
}

/* .publish {
    
  }
   */
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }

  
  .cards{
      display: flex;
      align-content: center;
      justify-content: center;

    }
    
/* .features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 660px;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
} */

.features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }

  .img-card{
    margin-right: -100px;
  }