
body{
    background-color: #fffbf7;
}

h1{
    color: #025157;
}

#subtitle{
    color: #46484c;
}

.btn-submit-email{
    color: #fff;
    background-color: #025157;
}

.promocional{
    color: #8b8b8bcc;
}

